
<div class ="sponsors-container">
  <div class="sponsors container">
    <div class="row">
      <p>With thanks to</p>
      <p>our generous sponsors...</p>  

    <div class="row top-sponsor"> 
      <a href="<%= @sponsors[0].website %>"><img src="<%= sponsors_logo_url(url: @sponsors[0].image_url, size: 'large') %>"></a>
    </div>

    <div class="second-row-sponsors">
      <% @sponsors[1..3].each do |sponsor| %>
         <a href="<%= sponsor.website %>"><img src="<%=  sponsors_logo_url(url: sponsor.image_url, size: 'medium') %>" alt="<%= sponsor.company_name %>"></a>
      <% end %>
    </div>

    <div class ="other-sponsors">
      <% @sponsors[4..@sponsors.length].each do |sponsor| %>
        <a href="<%= sponsor.website %>"><img src="<%=  sponsors_logo_url(url: sponsor.image_url, size: 'small') %>" alt="<%= sponsor.company_name %>"></a>
      <% end %>
      </div>
    </div>
  </div>
</div>

