<%= render partial: "hero" %>
<div id="background-gradient">
<%= render partial: "sponsors" %>
<%= render partial: "speakers" %>
<%= render partial: "events" %>
<%= render partial: "timetable" %>
</div>
<%= render partial: "info" %>
